* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {


}

html {
    font-family: Arial, sans-serif;
}


/*header*/
.header {
    height: 30px;
    /*background-color: beige;*/
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #ebeff4;
}
#header {
    height: 40px;
    background-color: black;
}

#nav {

}
#nav > li{
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}
#nav > li > a{
    color: #fff;
}
#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
}
#nav .subnav a{
    color: #000;
}

#slider{
    background-color: #333;
    min-height: 500px;
}